html,
body,
#root {
    min-height: 100%;
}

html {
    box-sizing: border-box;
    overflow-x: clip;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    overflow-x: clip;
}
